/* Styles for images within the menu */
.menu-img img {
	max-width: 100%; /* Ensure images don't exceed container width */
}

/* Styles for the menu content */
.menu-content {
	text-align: center; /* Center-align text within the menu content */
}

/* Heading styles */
h2 {
	margin: 0.5em 0; /* Set margin for heading elements */
	color: #222; /* Set color for headings */
    text-decoration: underline;
}

/* Styles for headings and prices */
h3,
.price {
	color: #222; /* Set color for heading and price elements */
}

/* Paragraph text styles */
p {
	color: #444444; /* Set color for paragraph text */
}

/* Styles for the page header */
#page-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/menu-banner.jpg');
	background-size: cover;
	background-position: center;
	max-width: 100%;
	color: #fff;
	padding: 4.1em 0;
	text-align: center;
	position: relative;
	margin-top: 4.5em;
}

/* Overlay effect for page header */
#page-header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: -1;
	mix-blend-mode: multiply;
}

/* Page title styles */
.page-title {
	font-size: 1.5em;
	font-weight: bold;
	padding: 1em 0;
	color: #fff;
}

/* Card styles */
.card {
	width: 100%;
	background-color: #f9f9f9;
	border-radius: 8px;
	margin: 10px 0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #ddd;
}

/* Styles for images within cards */
.card img {
	max-width: 60%;
	height: auto;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: #ffffff;
}

/* Styles for card content */
.card-content {
	padding: 10px;
}

/* Price styles */
.price {
	font-weight: bold;
	color: #333;
	margin-top: 10px;
	font-size: 0.9rem;
}

/* Media Query for Tablets (max-width: 768px) */
@media (min-width: 768px) {
    /* Increase font size for page title */
	.page-title {
		font-size: 2em;
	}

	/* Adjust card styles for tablets */
	.card {
		margin: 10px;
		width: 30%;
	}

	/* Adjust image styles for tablets */
	.card img {
		max-width: 100%;
	}

	/* Adjust price font size for tablets */
	.price {
		font-size: 1rem;
	}
}

/* Media Query for Desktops (min-width: 1200px) */
@media (min-width: 1200px) {
	/* Adjust card width for desktops */
	.card {
		width: 22%;
	}

	/* Increase price font size for desktops */
	.price {
		font-size: 1.1rem;
	}
}